
<div class="container ">

<div>



  <section class="section">
    <span class="list-section">
      <mat-checkbox class="margin"
                    [checked]="allComplete"
                    [color]="task.color"
                    [indeterminate]="someComplete()"
                    (change)="setAll($event.checked)">
        {{task.name}}
      </mat-checkbox>
    </span>
    <span class="list-section">
      <ul>
        <li *ngFor="let subtask of task.items">
          <mat-checkbox [(ngModel)]="subtask.completed"
                        [color]="subtask.color"
                        (ngModelChange)="updateAllComplete()">
            {{subtask.name}}
          </mat-checkbox>
        </li>
      </ul>
    </span>
  </section>


</div>

<app-lista-superheroe [buscarPor$]= buscarPor$></app-lista-superheroe>

</div>
